body {
    background-color: rgb(41, 41, 41);
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 30%;
    background-color: rgb(166, 167, 107);
    filter: drop-shadow(0px 5px 4px #999999);
}

.item {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(16, 0, 22), rgb(37, 0, 36));
    width: 80%;
    padding: 0px 10px;
    margin: 2px ;
    border: 1;
    border-radius: 10px;
    color: aliceblue;
}

.item:nth-child(2n) {
    background-image: linear-gradient(rgb(0, 1, 22), rgb(0, 4, 37));
}

.todoBtn {
    display: flex;
}

.todoBtn button{
    border: 0;
    text-decoration: none;
    background-color: transparent;
}

.buttonForm {
    border: 0;
    text-decoration: none;
    background-color: transparent;
}

.AddInput {
    font-family: poppins;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
}
.plus-icon {
    height: 35px;
    width: 35px;
    filter: invert(9%) sepia(100%) saturate(7486%) hue-rotate(247deg) brightness(89%) contrast(144%) drop-shadow(0px 2px 1px #000000);
    cursor: pointer;
}

.delete-icon {
    height: 20px;
    width: 20px;
    filter: invert(30%) sepia(93%) saturate(7215%) hue-rotate(356deg) brightness(101%) contrast(121%) ;
    cursor: pointer;
}

.edit-icon.up{
    height: 35px;
    width: 35px;
    filter:invert(52%) sepia(79%) saturate(1741%) hue-rotate(82deg) brightness(115%) contrast(128%) drop-shadow(0px 2px 1px #000000);
}
.edit-icon {
    height: 20px;
    width: 20px;
    filter: invert(52%) sepia(79%) saturate(1741%) hue-rotate(82deg) brightness(115%) contrast(128%);
    cursor: pointer;
}

.listwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    margin-top: 20px;
    overflow-y: scroll;
}

.button-input-wrap {
    display: flex;
    align-items: center;

}