body,html{
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(41, 32, 73);
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.maindiv {
    background-color:rgb(0, 36, 59);
    height: 500px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px double black;
    filter: drop-shadow(5px 5px 4px #000000);
    overflow-y: scroll;
}

.inputText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    width: 80%;
}

.todoBtn {
    display: flex;
}

.todoBtn button{
    border: 0;
    text-decoration: none;
    background-color: transparent;
}

.todoBtn button img {
    height: 20px;
    width: 20px;
    filter: invert(30%) sepia(93%) saturate(7215%) hue-rotate(356deg) brightness(101%) contrast(121%);
}